@font-face {
                  font-family: 'OptimusPrincepsCyr';
                  font-display: swap;
                  src: url("../fonts/OptimusPrincepsCyr.woff2") format("woff2"), url("../fonts/OptimusPrincepsCyr.woff") format("woff");
                  font-weight: 500;
                  font-style: normal;
                }

